:root {
    --accent-color: #2196F3;
    --bacic-color: #212121;
    --auxiliary-color: #FFFFFF;
    --subtitle-collor:  #757575; 
    --hero-color: #2F303A;
    --button-color: #F5F4FA;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}
.list {
    list-style: none;
}
.link {
text-decoration: none;
}
img {
    display: block;
}
.container {
    Width: 1200px;
    padding: 0 15px;
   margin: 0 auto;
}
/*=======HEADER========*/
.portheader {
    border-bottom: 1px solid #ececec;
}
.header .container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
}
.logo {
    margin-right: 93px;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: var(--accent-color);
padding-top: 24px;
padding-bottom: 25px;
}
.studio {
    color: var(--bacic-color);
}
.navigation-list-link,
.address  {
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
}
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}
.header .address {
    display: flex;
margin-left: auto;
}
.address .address-mail-link {
    margin-right: 50px;
}
.navigation .navigation-list-link.current {
    color: var(--accent-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address:hover,
.address:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
color: var(--accent-color);
}
.navigation-list-link {
color: var(--bacic-color);
padding: 32px 0;
}
.address-mail-link,
.address-tel-link {
font-style: normal;
color: var(--subtitle-collor);
padding: 32px 0;
}
/*=======END HEADER========*/
/*=======HERO========*/
.hero {
    display: flex;
   align-items: center;
   flex-direction: column;
    height: 600px;
  background-color: var(--hero-color);
  padding: 200px 0;
}
.hero-title{
    display: flex;
Width: 696px; 
Height: 120px;
font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--auxiliary-color);
}
.button {
font-weight: 700;
font-size: 16px;
line-height: 1.875;
display: flex;
letter-spacing: 0.06em;
background-color: var(--accent-color);
color: var(--auxiliary-color);
border: 0px;
border-radius: 4px;
margin-top: 30px;
padding: 6px 20px;
}

/*=======END HERO========*/
/*=====features====*/
.main-features .container {
    display: flex;
}
.main-features {
    display: flex; 
    padding: 94px 0;
}
.features {
    display: flex;
    justify-content: center;
}
.features-item {
    width: 270px;
}
.features-item:not(:last-child) {
    margin-right: 30px;
}
.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--bacic-color);
margin-bottom: 10px;
}
.features-text {
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color: var(--subtitle-collor);
}
/*=====END features====*/
/*====work====*/
.work .container {
    align-items: center;
}
.work {
    padding-bottom: 94px;
}
.work-list {
    display: flex;
}
.foto-works:not(:last-child) {
margin-right: 30px;
}
.subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
letter-spacing: 0.03em;
text-align: center;
color: var(--bacic-color);
margin-bottom: 50px;
}
/*====END work====*/
/*====workers====*/
.workers-list {
    display: flex;
}
.workers-item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
    background-color: var(--auxiliary-color);
}
.workers-item:not(:last-child) {
    margin-right: 30px;
}
.section-workers {
    padding: 94px 0;
    background-color: #F5F4FA;
}
.workers {
font-weight: 500;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
text-align: center;
color: var(--bacic-color);
margin-bottom: 10px;
}
.workers-container {
padding: 30px 59px;
}
.workers-position {
font-weight: 400;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
text-align: center;
color: var(--subtitle-collor);
}
/*====END workers====*/
/*====fotter====*/
.footer-address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.footer {
    padding: 60px 0;
    background-color: var(--hero-color);
}
.address-link-maps:hover,
.address-link-maps:focus,
.address-link:hover,
.address-link:focus {
color: var(--accent-color);
}
.address-link-maps {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--auxiliary-color);
}
.address-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-top: 10px;
}
.footer-studio {
    color: #FFFFFF;
}
/*====END fotter====*/
/*===Portfolio button=======*/
.portfolio {
    padding: 94px 0;
}
.button-list {
    display: flex;
 justify-content: center;
    margin-bottom: 50px;
}
.button-list-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list-item {
    width: 370px;
    border: 1px solid #EEEEEE;
}
.portfolio-list-item:not(:nth-child(3n+1)) {
    margin-left: 30px;
}
.portfolio-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}
.portfolio-button:hover,
.portfolio-button:focus {
background-color: var(--accent-color);
color: var(--auxiliary-color);
}
.portfolio-button {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
background-color: var(--button-color);
color: var(--bacic-color);
/* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
border-radius: 4px;
border: 0px;
padding: 6px 20px;
}
/*========END Portfolio button=======*/
/*======== Portfolio =======*/
.description-container {
    padding: 20px 24px;
}
.progect-name {
font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.06em;
color: var(--bacic-color);
margin-bottom: 4px;
}
.progect-tupe {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--subtitle-collor);
}


